<p style="color: green"><%= notice %></p>


<div class="card text-bg-light mb-2" style="width: 25rem;padding: 10px">
  <div class="card-body">
    <%= render @category %>
    <% if current_user %>
    <div class="row" style="margin: 10px">
      <div class="col">
        <%= link_to "Edit this product", edit_category_path(@category), class: "btn btn-primary" %>
      </div>
      <div class="col">
        <%= button_to "Destroy this product", @category, method: :delete %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
