<p style="color: green"><%= notice %></p>

<div id="products" class="mx-auto">

<%= form_tag(products_path, method: :get) do %>
<div class="input-group" style="margin-bottom: 5px">
  <div class="input-group-prepend">
    <span class="input-group-text" id="", style="border-radius: 10px 0 0 10px">Product Title: </span>
  </div>
  <%= text_field_tag :keywords, params[:keywords], class: "form-control" %>
  <%= submit_tag 'Search', name: nil, class: "btn btn-outline-secondary" %>
</div>
<% end %>

<div class="jumbotron jumbotron-fluid rounded border border-dark bg-light" style="margin-bottom: 5px">
  <div class="container-fluid" style="padding: 0px">
    <ul class="nav nav-pills nav-fill">
            <li class="nav-item"><%= active_link_to "All", products_path(category: nil), class: "nav-link" %></li>
        <% @category_all.each do |cat| %>
            <li class="nav-item"><%= active_link_to cat.name, products_path(category: cat.id), class: "nav-link" %></li>
        <% end %>
    </ul>
  </div>
</div>

<% @products.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |product| %>
      <div class="col-md-3" style="margin-bottom: 10px">
        <div class="card w-100 h-100 text-bg-light mb-2" style="width: 25rem;padding: 10px">
          <%= image_tag(product.image, class: "card-image-top") %>
          <div class="card-body">
            <%= render product %>
            <p>
              <%= link_to "Show this product", product, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

</div>

<%= link_to "New product", new_product_path %>
