<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products" class="mx-auto">
<% @products.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |product| %>
      <div class="col-md-3">
        <div class="card text-bg-light mb-2" style="width: 25rem;padding: 10px">
          <%= image_tag(product.image, class: "card-image-top") %>
          <div class="card-body">
            <%= render product %>
            <p>
              <%= link_to "Show this product", product, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>

<%= link_to "New product", new_product_path %>
