<p style="color: green"><%= notice %></p>

<div class="card text-bg-light mb-2" style="width: 25rem;padding: 10px">
<%= image_tag(@product.image, class: "card-image-top") %>
  <div class="card-body">
    <%= render @product %>
    <% if current_user %>
    <div class="row" style="margin: 10px">
      <div class="col">
        <%= link_to "Edit this product", edit_product_path(@product), class: "btn btn-primary" %>
      </div>
      <div class="col">
        <%= button_to "Destroy this product", @product, method: :delete %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div>
  <%= link_to "Back to products", products_path %>
</div>
