<!DOCTYPE html>
<html style="padding: 10px 120px 20px 120px;">
  <head>
    <title>WindowShopping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= bootstrap_flash(class: "alert alert-light alert-dismissible show") %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">      

      <div class="d-flex navbar navbar-light bg-light">
        <div class="navbar-nav">
          <li class="nav-item"><%= active_link_to "Products", products_path, class: "nav-link" %></li>
          <li class="nav-item"><%= active_link_to "Categories", categories_path, class: "nav-link" %></li>
        </div>
      </div>
      <div class="d-flex ms-auto">
        <% if current_user %>
          <td><%= button_to "Log Out", logout_path, method: :delete, style: "margin: 10px", class: "btn btn-danger" %></td>
        <% else %>
          <td><%= button_to "Sign Up", sign_up_path, method: :get, style: "margin: 10px", class: "btn btn-secondary" %></td>
          <td><%= button_to "Log In", login_path, method: :get, style: "margin: 10px", class: "btn btn-primary"%></td>
        <% end %>
      </div>
    </nav>
  </head>

  <body>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
